*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Gmailapp_Notify{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.Gmailapp_Notify-logo .red-dot{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    top: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    height: 45px;
}
.pen-container{
    background-color: red;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
}

.pen-container .pen{
    color: white;
}

.searchbarContainer{
    display: flex;
    align-items: center;
    background-color: #fdf8f6;
    height: 41px;
}

.searchbarContainer input{
    border:0;
    outline: none;
    background-color: #fdf8f6;
}

.message_box-row{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.message_box-textItem1{
    display: flex;
    justify-content: space-between;
}

.message_box-textItem3{
    display: flex;
}