* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: arial;
  background-color: #f7f8fc;
}

.header,
.header__searchbar-item1 {
  display: flex;  
}

.header__left-menuicon {
  width: 63px;
  background-color: #EAF1FB;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.header__left,
.header__left-logo,
.header__right,
.header__account {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left-logo {
  gap: 10px;
  margin-left: 40px;
}

.header__left-logo .header__logo-text {
  font-size: 22px;
}

.header__right .header__activebar {
  display: flex;
  align-items: center;
  width: 101px;
  height: 48px;
  background-color: #EAF1FB;
  border-radius: 22px;
  justify-content: center;
  gap: 5px;
  margin-top: 6px;
}

.header__searchbar {
  width: 43%;
  height: 48px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: #EAF1FB;
  margin-top: 6px;
  margin-left: 114px;
}

.header__searchbar input {
  border: 0;
  outline: none;
  width: 100%;
  background-color: #EAF1FB;
  font-size: 16px;
}

.header__account {
  width: 134px;
  height: 48px;
  border: 1px solid #dfdfe2;
  border-radius: 7px;
  margin-top: 6px;
}

.header__account .header__account-name {
  background: #ad41c1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.header__right {
  padding-right: 26px;
  gap: 20px;
  margin-left: auto;
}

.header__menubuttons {
  display: flex;
  gap: 20px;
  margin-top: 6px;
}

.main {
  display: flex;
}

.main__leftbar {
  width: 60px;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #EAF1FB;
}

.main__leftbar .main__leftbar-mail {
  margin-top: 23px;
  width: 60px;
}

.main__leftbar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.main__sidebar {
  width: 258px;
}

.main__sidebar-item {
  margin-top: 24px;
}


.main__sidebar-item_inbox-text span {
  margin-left: 11vw;
}

.main__sidebar .main__sidebar-compose {
  padding: 13px;
  background-color: #C2E7FF;
  border-radius: 9px;
}

.main__sidebar-item_inbox,
.main__sidebar-item5-draft {
  display: flex;
  justify-content: space-between;
  width: 74%;
}

.main__sidebar-compose {
  width: 137px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.inbox,
.stared,
.snooz,
.sent,
.draft,
.more {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inbox {
  background-color: #d3e3fd;
  width: 240px;
  height: 30px;
  border-radius: 13px;
}

.main__sidebar-item img {
  display: Inline-block;
  margin: 0 12px;
}

.main__sidebar-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 13px;
  margin-top: 6vh;
  width: 86%;
}

.main_menubar {
  display: flex;
  justify-content: space-between;
  width: 76vw;
  background-color: #fff;
  height: 50px;
  align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: 6px;
}

.main_menubar-item1,
.main_menubar-item2 {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 12px;
}

.main_menubar-item1box{
  display: flex;
  align-items: center;
  gap: 7px;
}

.main_menubar-item2 div {
  padding: 0 5px;
}

.main_menubar-item2Text{
  font-size:12px;
  color:#969696;
}

.main_menubar-item2Image img{
opacity:0.5;
}

.main__rightbar {
  width: 55px; 
  margin-top: 11px;
}

.main__rightbar-icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.main__rightbar-icons div {
  margin: 10px 0;
}

.main_messagebox{
background-color:white;
}

.main_messagebox-row{
  display: flex;  
  align-items: center;
  font-size: 14px;
  padding:10px;
  border-bottom: 1px solid #eeeeee;
}

.main_messagebox-row .main_messagebox-rowItem1 input[type="checkbox"] {
  border:1px solid #d5d8df;
}

.main_messagebox-rowItem1{
  display: flex;
  align-items: center;
  gap:12px;
  padding-right: 60px;
}

.main_messagebox-rowItem1 div img{
  opacity:0.5;
}

.main_messagebox-rowItem3{
  margin-left:auto;
}

.unread-msg{
  background-color:#f2f5fc;
}

.highlight{
  font-weight:bolder;
}

.main__rightbar-line{
  height: 7px;
  width: 14px;
  border-bottom: 1px solid #ccc;
}

@media (max-width:960px)
{
 .header__right .header__activebar{
   width:50px;
   height:50px;
   border-radius:50%;
}
 .header__activebar-text{
  display:none;
}
}

@media (max-width:864px)
{
 .header__searchbar input,.search-option{
   display:none;
 }
 .header__searchbar{
 width:auto;
 margin-left: 228px;
 background: none;
}
}


